@import "./bootstrap_theme";

/*
 * By default it is of dark color
 */
.pep-overlay {
  @include pep-overlay(absolute);
  background: $shadow-color;
}

// 
// //
// // // For Box-info items
// //
// 
// 
// For Box info container
// 
.pep-box-info {
  min-height: 30vh;
  background: white;
  position: relative;
}

// 
// For header
//
.pep-boxinfo-header {
  padding: 0.7rem 0.8rem;
  background: $cyan-5;
  color: $primary;

  >* {
    vertical-align: middle;
  }

  &:hover {
    background: $cyan-10;
  }

  .pep-boxinfo-header-right {
    float: right;

    .btn {
      margin-top: -0.25rem;
      padding: 0.3rem 1rem;
    }
  }

  // .mdi  icons
  >i.mdi {
    font-size: 18px;
    margin-right: 0.5rem;
  }
}


//
// For body
//
.pep-boxinfo-body {
  display: block;
  position: relative;
  width: 100%;
  min-height: 25vh;

  //   padding: 1rem 0.8rem;
  // it is up to the user to provide his way
  .pep-boxinfo-body-item {
    padding: 0.4rem;

    &:hover {
      background: rgba($cyan-5, $alpha: .6) !important;
    }
  }
}

.boxinfo-item {
  padding: 0.4rem;

  &:hover {
    background: rgba($cyan-5, $alpha: .6) !important;
  }
}

// /
// 
// Username
// 
.username,
.pep-username {
  font-weight: 500;
  color: $primary !important;
}


// 
// // Info chip
// 
.info-chip {
  border: $cyan-5;
  border-radius: 50px;
  padding: 1px 10px;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.1rem;
  color: white;
  // By default   
  background: $primary;

  &:first-child {
    margin-left: 0px;
  }

  &-danger {
    background: $danger;
  }

  &-cyan-5 {
    background: $cyan-5;
    color: $shadow-color;
  }

  &-warning {
    background: $yellow;
  }

  &-md {
    font-size: 0.8rem;
    padding: 2.5px 15px;
  }
}

// 
// 
// New col varibales
// Defined by me
.col-fixed-top {
  position: fixed;

  &.--below-fixed-menu {
    @media (min-width: 992px) {
      $var: 2px; // or 5px
      // top: $main-fixed-menu-height + $var;
      top: $main-fixed-menu-height + 2px;
      // 100vh - ( $main-fixed-menu-height + $var)
      height: calc(100vh - (50px + 2px));

      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }
}

// For sticky
.col-sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}


/**
* Carousel
**/

.carousel {
  &:focus {
    outline: none;
  }

  .carousel-inner {
    height: 100%; // This makes it good though
  }

  .carousel-counter {
    background: $black;
    color: $white;
    font-size: 0.7rem;
    padding: 0.1rem 0.7rem;
    padding-bottom: 0.2rem;
    border-radius: 30rem;
    box-shadow: $z-depth-3;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 20;
  }

  .carousel-item {
    display: block;
    height: 100%;
    width: 100%;

    // transition: none;
    // text-align: center; // For making elements fall in the center
    &.active {
      height: 100%;
      width: 100%;
    }

    .carousel-item-abs {
      height: 100%;
      width: 100%;
      top: 0px;
      // left: 0px;
      // position: absolute;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #fff;
  height: 25px;
  width: 25px;
  background-size: 35%;
  border-radius: 100%;
  box-shadow: $z-depth-3
}

.carousel-indicators {
  margin: 0px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  bottom: 2%;

  li {
    flex-grow: 1;
    border-radius: 2px;
    margin-right: 1px;
    margin-left: 1px;
    transition: 600ms ease;
    height: 0.3rem; // Height
    border: 0px;

    &:not(.active) {
      opacity: 0.6;
      background: $shadow-color;
      max-width: 60px;
    }

    &.active {
      // height: 0.6rem; // Height
      flex-grow: 2
    }
  }
}


// 
// 
// paginations
// 
.pagination {
  .page-item {
    .page-link {
      border-radius: 30rem;
      margin: 0.3rem;
      transition: all 300ms ease;
    }

    &.active {
      .page-link {
        box-shadow: $z-depth-3;
      }
    }

    &:first-child .page-link {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }

    &:last-child .page-link {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
  }
}


// checkbox

// Check box
// 
.custom-checkbox {
  .custom-control-label::before {
    border: 2px solid $gray-400;
  }

  .custom-control-input:checked~.custom-control-label::before {
    border: 0px;
  }
}

// Radio button
$custom-radio-indicator-icon-checked: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='"+$primary+"'/%3E%3C/svg%3E") !default;

.custom-radio {
  .custom-control-label::before {
    border: 2px solid $gray-400;
  }

  .custom-control-input:checked~.custom-control-label::before {
    background-color: $white;
    border: 2px solid $primary;
  }
}

pep-radio-group.stacked {
  display: table;
  table-layout: fixed;
  width: 100%;

  &>* {
    display: table-cell;
    vertical-align: middle
  }
}


// popovers and tooltips
.popover {
  box-shadow: $z-depth-3
}

.tooltip-inner {
  box-shadow: $z-depth-3;
  border-radius: 0.175rem
}

.tool-primary {
  @include tooltip-theme-pep($primary)
}

.tool-warning {
  @include tooltip-theme-pep($warning)
}

.tool-danger {
  @include tooltip-theme-pep($danger)
}

.tool-info {
  @include tooltip-theme-pep($info)
}

.tooltip {
  /* tooltip container box */
  white-space: pre-line;
}

// lists
.list-group .active { font-weight: 600 };
