@import './bootstrap_theme';
// 
// First destroy unnecessary variables of input
// 

.input-group {
  border: 2px solid $input-border-color;
  transition: $input-transition;

  &:focus-within {
    background-color: $cyan-5;
    border-color: $input-focus-border-color
  }

  .input-group-append>*,
  .input-group-prepend>* {
    border-radius: 0px !important;
  }

  input {
    border-width: 0px;
    border-color: transparent;

    &:focus {
      background: transparent;
      border-color: transparent
    }
  }

  /**  DOinf this bcz of errors*/
  .form-control {
    height: unset !important
  }

}

textarea {
  resize: none;
}

// 
// 
// Emoji one inputs
// For post modal
.emoji-textarea {
  border: unset !important;
  box-shadow: unset !important;
  border-radius: 0px !important;
  background: $cyan-5 !important;

  .emojionearea-editor {
    min-height: 12em !important;
  }
}


// 
// quill js
.ql-toolbar {
  &.ql-snow {
    background: $cyan-10 !important;

    button.ql-active {
      color: $primary !important;
    }
  }
}

.ql-editor {
  min-height: 40vh;
}

quill-editor {

  .ql-toolbar,
  .ql-container {
    transition: 300ms ease;
    border-width: 2px !important;
    border-color: $gray-200 !important;
  }

  &:focus-within {

    .ql-toolbar,
    .ql-container {
      border-width: 2px !important;
      border-color: $primary !important;
    }
  }
}
