@import "./bootstrap_theme";

.form-group {
    &-label {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    &-text {
        font-weight: 600;
        font-size: 0.8rem;
    }

    &-mdi {
        margin-right: 5px;
        font-size: 20px;
        color: $primary;
    }

    input,
    textarea,
    select {
        font-size: 0.8rem!important;
    }
}
textarea{
    resize: none;
}