// 
// Sizes which already exist
// 18px, 24px, 36px, 48px
// 
.mdi-10px {
  font-size: 10px !important;
}

.mdi-12px {
  font-size: 12px !important;
}

.mdi-15px {
  font-size: 15px !important;
}

.mdi-18px {
  font-size: 18px !important;
}

.mdi-21px {
  font-size: 21px !important;
}

.mdi-24px {
  font-size: 21px !important;
}

.mdi-28px {
  font-size: 28px !important;
}

.mdi-32px {
  font-size: 32px !important;
}

.mdi-55px {
  font-size: 55px !important;
}