.pep-segment {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 10rem;


  // icon
  &-icon {
    font-size: 3rem !important;
    font-weight: bold;

    &::before {
      font-weight: bold;
    }
  }

  // title
  &-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  // text
  &-sub_title {
    // margin: 1rem;
    font-weight: 500;
  }



  &.xl-segment {
    margin: 3rem 1.5rem;
  }
}
