@import "./bootstrap_theme";

// 
// usual-scrollbar  
// 
@mixin usual-scrollbar {
  background-color: $primary;
  color: white;
}

::-webkit-selection {
  @include usual-scrollbar;
}

::-moz-selection {
  @include usual-scrollbar;
}

::selection {
  @include usual-scrollbar;
}

// Scrollbars for
// for inputs
// and forms
@mixin scrollbar-forms-inputs {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

select::-webkit-selection,
textarea::-webkit-selection,
input::-webkit-selection {
  @include scrollbar-forms-inputs;
}

select::-moz-selection,
textarea::-moz-selection,
input::-moz-selection {
  @include scrollbar-forms-inputs;
}

select::selection,
textarea::selection,
input::selection {
  @include scrollbar-forms-inputs;
}

// scrollbars for html and body
// the mixin for the body and html elements
// 
@mixin scroll-body-html {
  & ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }

  & ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }

  & ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  & :window-inactive {
    background: rgba(0, 0, 0, 0.15);
  }

  & ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 135, 139, 0.8);
  }
}

body {
  @include scroll-body-html
}

html {
  @include scroll-body-html
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}
