@import "./bootstrap_theme";

.tags-h {
    display: block;
    flex-wrap: wrap;

    .tag {
        padding: ($input-btn-padding-y + 0.15rem) 2.5rem;
        background: $cyan-10;
        border: 1px solid $cyan-10;
        color: $primary;
        display: inline-block;
        margin: 5px 10px 5px 0px;
        border-radius: 10rem;
        transition: 300ms ease;
        font-size: 0.8rem;

        &:hover {
            background: $cyan-20;
        }
    }
}